---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <p><a href="/static-import">It works with static import</a></p>
      <p><a href="/dynamic-import">Got error with dynamic import</a></p>
    </main>
  </body>
</html>
